.flex{
    display: flex;
}
.item-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.justify-right{
    justify-content: right;
}
.justify-left{
    justify-content: left;
}
/* .align-center{
    align-items: center;
}
.align-right{
    align-items: right;
}
.align-left{
    align-items: left;
}
.align-between{
    align-items: space-between;
} */